@import "tailwindcss";

@theme {
  --color-violet: var(--color-violet);
  --color-white: var(--color-white);
  --color-black: var(--color-black);
  --color-black-1: var(--color-black-1);

  --spacing-mini: var(--spacing-mini);
  --spacing-xs: var(--spacing-xs);
  --spacing-sm: var(--spacing-sm);
  --spacing-md: var(--spacing-md);
  --spacing-lg: var(--spacing-lg);
  --spacing-xl: var(--spacing-xl);
  --spacing-2xl: var(--spacing-2xl);
  --spacing-3xl: var(--spacing-3xl);
}

:root {
  --color-violet: #B643CD;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-black-1: #212121;

  --spacing-mini: 6px;
  --spacing-xs: 12px;
  --spacing-sm: 24px;
  --spacing-md: 36px;
  --spacing-lg: 48px;
  --spacing-xl: 64px;
  --spacing-2xl: 72px;
  --spacing-3xl: 84px;
}

* {
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.z-60 { z-index: 60; }